Package: mlyx.preferenceloader
Name: PreferenceLoader
Version: 0.0.1
Architecture: iphoneos-arm
Description: A lightweight and modern alternative to Dustin Howett's PreferenceLoader
Maintainer: mlyx
Author: ArtikusHG
Section: Tweaks
Depends: mobilesubstrate 
Replaces: preferenceloader
Provides: preferenceloader
Conflicts: preferenceloader
