<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP Extra</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.toolboxsetting</string>
			<key>key</key>
			<string>isStoreSwitcherEnabled</string>
			<key>label</key>
			<string>StoreSwitcher</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.toolboxsetting</string>
			<key>key</key>
			<string>isTwitterEnabled</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.toolboxsetting</string>
			<key>key</key>
			<string>isBiliBiliEnabled</string>
			<key>label</key>
			<string>BiliBili</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.toolboxsetting</string>
			<key>key</key>
			<string>isZhiHuEnabled</string>
			<key>label</key>
			<string>ZhiHu</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.toolboxsetting</string>
			<key>key</key>
			<string>isYouTubeEnabled</string>
			<key>label</key>
			<string>YouTube</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>mlyx.toolboxsetting</string>
			<key>key</key>
			<string>isGlobalizeEnabled</string>
			<key>label</key>
			<string>Globalize</string>
		</dict>

	</array>
	<key>title</key>
	<string>ToolBoxSetting</string>
</dict>
</plist>
