Package: mlyx.cleanneteasemusic
Name: CleanNeteaseMusic
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Clean NeteaseMusic APP(Only Support NeteaseMusic Version:6.0.0)
Depiction: https://mlyxshi.github.io/repo/depictions/NeteaseAPP/NeteaseAPP.html
Maintainer: mlyx
Author: mlyx
Section: Tweaks
