Package: mlyx.bluetoothlaunch
Name: BluetoothLaunch
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Launch NeteaseMusic Personal FM when bluetooth is connected
Maintainer: mlyx
Author: LucifersCircle
Section: Maintain