Package: mlyx.preferencex
Name: PreferenceX
Version: 0.0.2
Architecture: iphoneos-arm
Description: (Only Support Modern PreferenceBundle) PreferenceOrganizer for self-use
Maintainer: mlyx
Author: ArtikusHG
Section: Tweaks
Depends: mobilesubstrate 

