Package: mlyx.statusinfo
Name: StatusInfo
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mlyx
Author: mlyx
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
