Package: mlyx.statusinfo
Name: StatusInfo
Version: 0.1.0
Architecture: iphoneos-arm
Description: Netspeed,RAMinfo,Battery,Signal Infomation[Only Test in iPhone XS Max Resolution]
Maintainer: mlyx
Author: mlyx
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
