Package: mlyx.statusinfo
Name: StatusInfo
Version: 0.0.1
Architecture: iphoneos-arm
Description: Netspeed and RAMinfo[Only Test in iPhone XS Max Resolution]
Maintainer: mlyx
Author: mlyx
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
